.main_container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background: #2d2d2d;
  position: fixed;
}

.Editor_container {
  padding: 20px 5%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.Editor_container .Editor {
  height: 80%;
}
.Editor_container #upload_state {
  background: #0B457F;
  color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  margin: 100px auto;
  width: 200px;
  border: none;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.Editor_container #upload_state::before {
  content: "";
  position: absolute;
  opacity: 0;
  transition-duration: 0.3s;
  top: -16px;
  left: -16px;
  bottom: -16px;
  right: -16px;
  border-radius: 20px;
  border: 4px solid #cccccc;
}
.Editor_container #upload_state:hover::before {
  opacity: 1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.Editor_container .webPage {
  display: flex;
  justify-content: center;
  background: #ffffff;
  padding: 0 20px;
}
.Editor_container .webPage div {
  padding: 20px 0;
}
.Editor_container .webPage div table {
  border-collapse: 0;
}

.MonitorChart {
  padding: 20px 20px;
  background: #ffffff;
  overflow-y: scroll;
  height: 95vh;
}

.colombia_container {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.colombia_container #colombia_request {
  background: #F43062;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 20px 0;
}
.colombia_container #colombia_request:hover {
  color: #F43062;
  background: #ffffff;
  border: 1px solid #F43062;
}
.colombia_container .colombia_head {
  background: #043A58;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.colombia_container .colombia_head div:nth-child(1) {
  width: 20%;
  background: #213A48;
  height: 100%;
  display: flex;
}
.colombia_container .colombia_head div:nth-child(2) {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colombia_container .colombia_head div:nth-child(2) img {
  margin-right: 20%;
}
.colombia_container .colombia_body {
  padding: 20px 0;
  height: max-content;
}
.colombia_container .colombia_body .colombia_content {
  background: #f1f1f1;
  margin: auto;
  width: 80%;
  overflow-x: hidden;
}
.colombia_container .colombia_body .colombia_content h2 {
  text-align: center;
  color: #000000;
  opacity: 0.6;
}
.colombia_container .colombia_body .colombia_content .industries_categorization {
  padding: 10px;
}
.colombia_container .colombia_body .colombia_content .industries_categorization img {
  width: 100%;
}
.colombia_container .colombia_body .colombia_content .architecture_smart img {
  width: 100%;
}
.colombia_container .colombia_body .colombia_content .model_young img {
  width: 100%;
}
.colombia_container .colombia_body .colombia_content .levels_young img {
  width: 100%;
}
.colombia_container .colombia_body .colombia_content .colombia_formulary {
  padding: 20px 0;
  transition-duration: 0.3s;
}
.colombia_container .colombia_body .colombia_content .colombia_formulary .section_formulary {
  padding: 10px;
}
.colombia_container .colombia_body .colombia_content .colombia_formulary .section_formulary label {
  display: block;
  color: #000000;
  opacity: 0.7;
}
.colombia_container .colombia_body .colombia_content .colombia_formulary .section_formulary input {
  display: block;
  width: 100%;
  border: none;
  height: 40px;
  outline: none;
}
.colombia_container .colombia_body .colombia_content .colombia_formulary .section_formulary input:focus {
  border: 2px solid #0B457F;
  border-radius: 5px;
  opacity: 0.6;
  background: transparent;
}
.colombia_container .colombia_body .colombia_content .colombia_formulary button {
  background: #69CB07;
  color: #ffffff;
  border: none;
  padding: 15px 25px;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 20px;
  border-radius: 10px;
}
.colombia_container .colombia_body .colombia_content .colombia_formulary button:hover {
  background: #59AE05;
}

/*# sourceMappingURL=styles.css.map */
