{% extends "layout.html" %}
{% block title %}
  Articles
{% endblock title %}
{% block content %}
  <h2>Available articles</h2>
  {% comment %}
    this section gonna be for the messages from the server
    this flash messages will delete after a refresh
  {% endcomment %}
  {% if messages %}
    {% for message in messages %}
        <div class="message">
            {{message}}
        </div>
    {% endfor %}
  {% endif %}
  <ul class="list">
      {% for article in articles  %}
        <li>
            <p>
                
                <span class="article_head">
                    <strong>
                        {{article.id}}. {{article.title}}
                    </strong>
                    {% if article.image.url != 'null' and article.image.url|length >= 1 %}
                        {% comment %}
                          for access to the path of the image path
                        {% endcomment %}
                        <img src="{{article.image.url}}" alt="">
                    {% endif %}
                    <br>
                </span>
                <span>
                    {{article.content}}
                </span>
                <br>
                <span class="actions_buttons">
                    <a href="{% url 'delete_articles' id=article.id %}">Delete</a>
                </span>
                <br>
                <span>
                    <small>
                        Created at: {{article.created_at}}
                    </small>
                </span>
            </p>
        </li>
      {% endfor %}
  </ul>
{% endblock content %}